In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [13]:
allelectronics = pd.read_csv("AllElectronics.csv")
allelectronics = allelectronics.drop(['ID'], axis=1)
allelectronics

            Age  Income Student Credit Rating Buy Computer?
0         Youth    High      No          Fair            No
1         Youth    High      No     Excellent            No
2   Middle aged    High      No          Fair           Yes
3        Senior  Medium      No          Fair           Yes
4        Senior     Low     Yes          Fair           Yes
5        Senior     Low     Yes     Excellent            No
6   Middle aged     Low     Yes     Excellent           Yes
7         Youth  Medium      No          Fair            No
8         Youth     Low     Yes          Fair           Yes
9        Senior  Medium     Yes          Fair           Yes
10        Youth  Medium     Yes     Excellent           Yes
11  Middle aged  Medium      No     Excellent           Yes
12  Middle aged    High     Yes          Fair           Yes
13       Senior  Medium      No     Excellent            No

In [15]:
allelectronics_onehot = pd.get_dummies(allelectronics, drop_first=False)

In [25]:
allelectronics_freq_item = apriori(allelectronics_onehot, min_support=0.2, use_colnames=True)
allelectronics_freq_item

     support                                           itemsets
0   0.285714                                  [Age_Middle aged]
1   0.357143                                       [Age_Senior]
2   0.357143                                        [Age_Youth]
3   0.285714                                      [Income_High]
4   0.285714                                       [Income_Low]
5   0.428571                                    [Income_Medium]
6   0.500000                                       [Student_No]
7   0.500000                                      [Student_Yes]
8   0.428571                          [Credit Rating_Excellent]
9   0.571429                               [Credit Rating_Fair]
10  0.357143                                 [Buy Computer?_No]
11  0.642857                                [Buy Computer?_Yes]
12  0.285714               [Age_Middle aged, Buy Computer?_Yes]
13  0.214286                        [Age_Senior, Income_Medium]
14  0.214286                          [Age_Senior, Student_Yes]
15  0.214286                   [Age_Senior, Credit Rating_Fair]
16  0.214286                    [Age_Senior, Buy Computer?_Yes]
17  0.214286                            [Age_Youth, Student_No]
18  0.214286                    [Age_Youth, Credit Rating_Fair]
19  0.214286                      [Age_Youth, Buy Computer?_No]
20  0.214286                          [Income_High, Student_No]
21  0.214286                  [Income_High, Credit Rating_Fair]
22  0.285714                          [Income_Low, Student_Yes]
23  0.214286                    [Income_Low, Buy Computer?_Yes]
24  0.285714                        [Income_Medium, Student_No]
25  0.214286           [Income_Medium, Credit Rating_Excellent]
26  0.214286                [Income_Medium, Credit Rating_Fair]
27  0.285714                 [Income_Medium, Buy Computer?_Yes]
28  0.214286              [Student_No, Credit Rating_Excellent]
29  0.285714                   [Student_No, Credit Rating_Fair]
30  0.285714                     [Student_No, Buy Computer?_No]
31  0.214286                    [Student_No, Buy Computer?_Yes]
32  0.214286             [Student_Yes, Credit Rating_Excellent]
33  0.285714                  [Student_Yes, Credit Rating_Fair]
34  0.428571                   [Student_Yes, Buy Computer?_Yes]
35  0.214286        [Credit Rating_Excellent, Buy Computer?_No]
36  0.214286       [Credit Rating_Excellent, Buy Computer?_Yes]
37  0.428571            [Credit Rating_Fair, Buy Computer?_Yes]
38  0.214286  [Age_Senior, Credit Rating_Fair, Buy Computer?...
39  0.214286          [Age_Youth, Student_No, Buy Computer?_No]
40  0.214286       [Income_Low, Student_Yes, Buy Computer?_Yes]
41  0.285714  [Student_Yes, Credit Rating_Fair, Buy Computer...

In [28]:
allelectronics_assoc_rules = association_rules(allelectronics_freq_item, metric="confidence", min_threshold=0.8)
allelectronics_assoc_rules

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Age_Middle aged),(Buy Computer?_Yes),0.285714,0.642857,0.285714,1.000000,1.555556,0.102041,inf
1,(Income_Low),(Student_Yes),0.285714,0.500000,0.285714,1.000000,2.000000,0.142857,inf
2,(Student_Yes),(Buy Computer?_Yes),0.500000,0.642857,0.428571,0.857143,1.333333,0.107143,2.500000
3,"(Buy Computer?_Yes, Age_Senior)",(Credit Rating_Fair),0.214286,0.571429,0.214286,1.000000,1.750000,0.091837,inf
4,"(Age_Senior, Credit Rating_Fair)",(Buy Computer?_Yes),0.214286,0.642857,0.214286,1.000000,1.555556,0.076531,inf
5,"(Age_Youth, Buy Computer?_No)",(Student_No),0.214286,0.500000,0.214286,1.000000,2.000000,0.107143,inf
6,"(Age_Youth, Student_No)",(Buy Computer?_No),0.214286,0.357143,0.214286,1.000000,2.800000,0.137755,inf
7,"(Buy Computer?_Yes, Income_Low)",(Student_Yes),0.214286,0.500000,0.214286,1.000000,2.000000,0.107143,inf
8,"(Student_Yes, Credit Rating_Fair)",(Buy Computer?_Yes),0.285714,0.642857,0.285714,1.000000,1.555556,0.102041,inf

In [34]:
allelectronics_assoc_rules[(allelectronics_assoc_rules['support']>0.23) & (allelectronics_assoc_rules['confidence']>0.9)]

,antecedants,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Age_Middle aged),(Buy Computer?_Yes),0.285714,0.642857,0.285714,1.0,1.555556,0.102041,inf
1,(Income_Low),(Student_Yes),0.285714,0.500000,0.285714,1.0,2.000000,0.142857,inf
8,"(Student_Yes, Credit Rating_Fair)",(Buy Computer?_Yes),0.285714,0.642857,0.285714,1.0,1.555556,0.102041,inf