In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()

In [2]:
ecommerce = pd.read_csv("data_clean.csv", encoding = "ISO-8859-1")

In [3]:
ecommerce.head()

,Unnamed: 0,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [4]:
ecommerce.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'Description', 'Quantity',
       'InvoiceDate', 'UnitPrice', 'CustomerID', 'Country', 'TotalPrice'],
      dtype='object')

In [5]:
ecommerce = ecommerce.rename(columns={'Unnamed: 0':'Index'})
ecommerce.index = ecommerce['Index']
ecommerce=ecommerce.drop(columns=['Index'])
ecommerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
Index,,,,,,,,,
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [6]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392732 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      392732 non-null int64
StockCode      392732 non-null object
Description    392732 non-null object
Quantity       392732 non-null int64
InvoiceDate    392732 non-null object
UnitPrice      392732 non-null float64
CustomerID     392732 non-null int64
Country        392732 non-null object
TotalPrice     392732 non-null float64
dtypes: float64(2), int64(3), object(4)
memory usage: 30.0+ MB

In [7]:
ecommerce["CustomerID"] = ecommerce["CustomerID"].astype(str)
ecommerce["InvoiceDate"] = pd.to_datetime(ecommerce["InvoiceDate"])
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392732 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      392732 non-null int64
StockCode      392732 non-null object
Description    392732 non-null object
Quantity       392732 non-null int64
InvoiceDate    392732 non-null datetime64[ns]
UnitPrice      392732 non-null float64
CustomerID     392732 non-null object
Country        392732 non-null object
TotalPrice     392732 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(4)
memory usage: 30.0+ MB

In [8]:
ecommerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
Index,,,,,,,,,
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [9]:
max(ecommerce['InvoiceDate']) - min(ecommerce['InvoiceDate'])

Timedelta('373 days 04:24:00')

In [10]:
purchase_timespan = ecommerce.groupby("CustomerID")["InvoiceDate"]

In [11]:
purchase_timespan = purchase_timespan.apply(lambda x:max(x)-min(x))

In [12]:
purchase_timespan.sort_values(ascending=False)

CustomerID
15311   373 days 02:19:00
12748   372 days 23:32:00
12662   372 days 22:55:00
12433   372 days 20:38:00
13777   372 days 20:24:00
14606   372 days 02:31:00
15694   372 days 01:55:00
14911   372 days 01:49:00
16210   372 days 00:09:00
13408   371 days 22:26:00
17581   371 days 21:34:00
17841   371 days 21:26:00
13468   371 days 19:31:00
13767   371 days 04:13:00
15525   371 days 01:26:00
14135   371 days 01:11:00
17511   370 days 23:53:00
12583   370 days 23:22:00
13798   370 days 22:27:00
17757   370 days 22:14:00
16539   370 days 17:01:00
17949   370 days 05:34:00
13013   370 days 02:33:00
16891   369 days 23:40:00
17017   369 days 23:15:00
17346   369 days 21:44:00
13694   369 days 21:20:00
14395   369 days 20:19:00
17412   369 days 19:07:00
17920   369 days 02:40:00
               ...
14431     0 days 00:00:00
16823     0 days 00:00:00
14355     0 days 00:00:00
14424     0 days 00:00:00
14357     0 days 00:00:00
14362     0 days 00:00:00
14368     0 days 00:00:00
14371     0 days 00:00:00
14373     0 days 00:00:00
14375     0 days 00:00:00
14381     0 days 00:00:00
14382     0 days 00:00:00
14386     0 days 00:00:00
16850     0 days 00:00:00
16849     0 days 00:00:00
14393     0 days 00:00:00
16848     0 days 00:00:00
16847     0 days 00:00:00
16846     0 days 00:00:00
14400     0 days 00:00:00
14406     0 days 00:00:00
16834     0 days 00:00:00
16830     0 days 00:00:00
16829     0 days 00:00:00
14411     0 days 00:00:00
14413     0 days 00:00:00
16826     0 days 00:00:00
14420     0 days 00:00:00
14423     0 days 00:00:00
12346     0 days 00:00:00
Name: InvoiceDate, Length: 4339, dtype: timedelta64[ns]

In [13]:
purchase_timespan_days = [purchase_timespan[i].days for i in range(len(purchase_timespan))]
purchase_timespan_days = np.array(purchase_timespan_days)

In [14]:
filtered_data_id = purchase_timespan[purchase_timespan_days>200].index
ecommerce_filtered = ecommerce[ecommerce["CustomerID"].isin(filtered_data_id)]

In [15]:
ecommerce_filtered.shape

(263990, 9)

In [16]:
from datetime import timedelta

In [19]:
#invoice_date_by_customer = ecommerce_filtered.groupby('CustomerID')['InvoiceDate']
#pred_id = invoice_date_by_customer.apply(lambda x:x[x<=(min(x)+timedelta(days=30))].index)
#pred_id
#temp = [np.array(pred_id[i]) for i in range(len(pred_id))]
#temp = np.hstack(temp)
#ecommerce_filtered.loc[temp]

#label_id = invoice_date_by_customer.apply(lambda x:x[x>(min(x)+timedelta(days=30))].index)

CustomerID
12347    Int64Index([14938, 14939, 14940, 14941, 14942,...
12348    Int64Index([34083, 34084, 34085, 34086, 34087,...
12352    Int64Index([ 91817,  91818,  91819,  91820,  9...
12356    Int64Index([61583, 61584, 61585, 61586, 61587,...
12359    Int64Index([54380, 54381, 54382, 54383, 54384,...
12362    Int64Index([92687, 92688, 92689, 92690, 92691,...
12370    Int64Index([29732, 29733, 29734, 29735, 29736,...
12372    Int64Index([91832, 91833, 91834, 91835, 91836,...
12388    Int64Index([59113, 59114, 59115, 59116, 59117,...
12393    Int64Index([52263, 52264, 52265, 52266, 52267,...
12395    Int64Index([ 7279,  7280,  7281,  7282,  7283,...
12407    Int64Index([125765, 125766, 125767, 125768, 12...
12408    Int64Index([132644, 132645, 132646, 132647, 13...
12413    Int64Index([46857, 46858, 46859, 46860, 46861,...
12415    Int64Index([45511, 45512, 45513, 45514, 45515,...
12417    Int64Index([34461, 34462, 34463, 34464, 34465,...
12421    Int64Index([69722, 69723, 69724, 69725, 69726,...
12422    Int64Index([63100, 63101, 63102, 63103, 63104,...
12423    Int64Index([39761, 39762, 39763, 39764, 39765,...
12427    Int64Index([5360, 5361, 5362, 5363, 5364, 5365...
12428    Int64Index([105404, 105405, 105406, 105407, 10...
12429    Int64Index([20017, 20018, 20019, 20020, 20021,...
12431    Int64Index([  197,   198,   199,   200,   201,...
12433    Int64Index([ 1236,  1237,  1238,  1239,  1240,...
12437    Int64Index([54688, 54689, 54690, 54691, 54692,...
12451    Int64Index([62998, 62999, 63000, 63001, 63002,...
12455    Int64Index([91370, 91371, 91372, 91373, 91374,...
12456    Int64Index([138771, 138772, 138773, 138774, 13...
12458    Int64Index([103944, 103945, 103946, 103947, 10...
12462    Int64Index([86218, 86219, 86220, 86221, 86222,...
                               ...
18149    Int64Index([117329, 117330, 117331, 117332, 11...
18155    Int64Index([96244, 96245, 96246, 96247, 96248,...
18156    Int64Index([8261, 8262, 8263, 8264, 8265, 8266...
18161    Int64Index([69057, 69058, 69059, 69060, 69061,...
18171    Int64Index([50774, 50775, 50776, 50777, 50778,...
18172    Int64Index([99162, 99163, 99164, 99165, 99166,...
18177    Int64Index([136791, 136792, 136793, 136794, 13...
18178    Int64Index([23897, 23898, 23899, 23900, 23901,...
18179    Int64Index([48676, 48677, 48678, 48679, 48680,...
18188    Int64Index([97969, 97970, 97971, 97972, 97973,...
18198    Int64Index([48185, 48186, 48187, 48188, 48189,...
18210    Int64Index([122500, 122501, 122502, 122503, 12...
18211    Int64Index([110382, 110383, 110384, 110385, 11...
18219    Int64Index([10832, 10833, 10834, 10835, 10836,...
18223    Int64Index([33728, 33729, 33730, 33731, 33732,...
18225    Int64Index([21761, 21762], dtype='int64', name...
18226    Int64Index([45411, 45412, 45413, 45414, 45415,...
18229    Int64Index([2366, 2367, 2368, 2369, 2370, 2371...
18230    Int64Index([86771, 86772, 86773, 86774, 86775,...
18236    Int64Index([154542, 154543, 154544, 154545, 15...
18241    Int64Index([177172, 177173, 177174, 177175, 17...
18245    Int64Index([37739, 37740, 37741, 37742, 37743,...
18246    Int64Index([165325, 165326], dtype='int64', na...
18257    Int64Index([92208, 92209, 92210, 92211, 92212,...
18259    Int64Index([18248, 18249, 18250, 18251, 18252,...
18263    Int64Index([142585, 142586, 142587, 142588, 14...
18270    Int64Index([124690, 124691, 124692, 124693, 12...
18272    Int64Index([148144, 148145, 148146, 148147, 14...
18273    Int64Index([134470], dtype='int64', name='Index')
18283    Int64Index([46026, 46027, 46028, 46029, 46030,...
Name: InvoiceDate, Length: 1469, dtype: object

In [182]:
columnNames = ['UnitPriceMean', 'UnitPriceStd', 'TotalQuantity', 'NoOfUniqueItems', 'NoOfInvoices',
                                'UniqueItemsPerInvoice', 'QuantityPerInvoice', 'SpendingPerInvoice']
customer_pattern_pre = pd.DataFrame(columns=columnNames)
customer_value = pd.Series()
customer_country = pd.Series()
for i in ecommerce_filtered["CustomerID"].unique():
    temp_customer = ecommerce_filtered[ecommerce_filtered["CustomerID"]==i]
    cutoff = min(temp_customer["InvoiceDate"])+timedelta(days=120)
    temp_customer_pre = temp_customer[temp_customer["InvoiceDate"] <= cutoff]
    temp_customer_post = temp_customer[temp_customer["InvoiceDate"] > cutoff]

    temp_customer_pre1 = [temp_customer_pre["UnitPrice"].mean(), temp_customer_pre["UnitPrice"].std(),
        temp_customer_pre["Quantity"].sum(), len(temp_customer_pre["StockCode"].unique()),
        len(temp_customer_pre["InvoiceNo"].unique()), temp_customer_pre.groupby("InvoiceNo")["StockCode"].nunique().mean(),
        temp_customer_pre.groupby("InvoiceNo")["Quantity"].sum().mean(), 
        temp_customer_pre.groupby("InvoiceNo")["TotalPrice"].sum().mean()]

    temp_customer_pre1 = np.array(temp_customer_pre1)
    temp_customer_pre1.shape = (1, len(temp_customer_pre1))
    temp_customer_pre1 = pd.DataFrame(temp_customer_pre1, columns=columnNames)
    
    customer_pattern_pre = customer_pattern_pre.append(temp_customer_pre1)
    
    temp_customer_value = temp_customer_post["TotalPrice"].sum()/temp_customer_pre["TotalPrice"].sum()
    customer_value = customer_value.append(pd.Series(temp_customer_value))
    customer_country = customer_country.append(pd.Series(temp_customer_pre['Country'].iloc[0]))

In [183]:
customer_value.index = [i for i in range(customer_value.shape[0])]
customer_country.index = [i for i in range(customer_value.shape[0])]
customer_pattern_pre.index = [i for i in range(customer_value.shape[0])]

In [184]:
customer_pattern_pre.head()

,UnitPriceMean,UnitPriceStd,TotalQuantity,NoOfUniqueItems,NoOfInvoices,UniqueItemsPerInvoice,QuantityPerInvoice,SpendingPerInvoice
0,4.134921,2.559095,505.0,44.0,5.0,12.600000,101.000000,250.536000
1,3.281867,4.673614,1719.0,50.0,4.0,18.750000,429.750000,655.107500
2,2.550000,NaN,80.0,1.0,1.0,1.000000,80.000000,204.000000
3,6.790784,6.478746,472.0,41.0,7.0,7.285714,67.428571,282.884286
4,1.899752,1.836582,1491.0,86.0,7.0,17.000000,213.000000,266.394286

In [185]:
customer_pattern_pre[customer_pattern_pre['UnitPriceStd'].isnull()].shape

(21, 8)

In [186]:
customer_pattern_pre_clean = customer_pattern_pre[~customer_pattern_pre['UnitPriceStd'].isnull()]

In [187]:
customer_value_clean = customer_value[customer_pattern_pre[~customer_pattern_pre['UnitPriceStd'].isnull()].index]
customer_country_clean = customer_country[customer_pattern_pre[~customer_pattern_pre['UnitPriceStd'].isnull()].index]

In [188]:
#from sklearn.preprocessing import StandardScaler
#scale = StandardScaler()
#customer_normalised = scale.fit_transform(customer_pattern_pre_clean)

In [189]:
#customer_normalised = pd.DataFrame(customer_normalised, columns=customer_pattern_pre_clean.columns, index=customer_pattern_pre_clean.index)
customer_normalised = customer_pattern_pre_clean
customer_normalised.head()

,UnitPriceMean,UnitPriceStd,TotalQuantity,NoOfUniqueItems,NoOfInvoices,UniqueItemsPerInvoice,QuantityPerInvoice,SpendingPerInvoice
0,4.134921,2.559095,505.0,44.0,5.0,12.600000,101.000000,250.536000
1,3.281867,4.673614,1719.0,50.0,4.0,18.750000,429.750000,655.107500
3,6.790784,6.478746,472.0,41.0,7.0,7.285714,67.428571,282.884286
4,1.899752,1.836582,1491.0,86.0,7.0,17.000000,213.000000,266.394286
5,4.044118,2.288687,442.0,15.0,4.0,4.250000,110.500000,465.425000

In [191]:
customer_normalised.shape

(1448, 8)

In [205]:
bins = [0, 1.5, max(customer_value_clean)]
labels = ["low", "high"]
customer_value_label = pd.cut(customer_value_clean, bins=bins, labels=labels)
customer_value_label.value_counts()

high    735
low     713
dtype: int64

In [206]:
from sklearn.feature_selection import mutual_info_classif
from sklearn.feature_selection import SelectKBest
customer_reduced = SelectKBest(mutual_info_classif, 3).fit_transform(customer_normalised, customer_value_label)
customer_reduced.shape

(1448, 3)

In [207]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import cross_val_score
nb = GaussianNB()
customer_nb_scores = cross_val_score(nb, customer_normalised, customer_value_label, cv=10)
customer_nb_scores

array([0.50684932, 0.54109589, 0.51369863, 0.53103448, 0.51034483,
       0.52777778, 0.48611111, 0.52083333, 0.54166667, 0.50694444])

In [208]:
from sklearn.ensemble.forest import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
customer_rf_scores = cross_val_score(rf, customer_normalised, customer_value_label, cv=10)
customer_rf_scores

array([0.57534247, 0.63013699, 0.56164384, 0.5862069 , 0.6137931 ,
       0.53472222, 0.54166667, 0.63888889, 0.65277778, 0.63888889])

In [216]:
from sklearn.ensemble import GradientBoostingClassifier
gc = GradientBoostingClassifier(max_depth=3, n_estimators=100)
customer_gc_scores = cross_val_score(gc, customer_normalised, customer_value_label, cv=10)
customer_gc_scores

array([0.54109589, 0.58219178, 0.5       , 0.60689655, 0.62068966,
       0.54166667, 0.53472222, 0.63888889, 0.63194444, 0.65277778])

In [217]:
from sklearn.model_selection import GridSearchCV

param_grid = [{'max_depth': [1, 2, 3, 4, 5], 'n_estimators': [50,70,90,110]}]
gc_optim = GradientBoostingClassifier()
grid_search = GridSearchCV(gc_optim, param_grid, cv=10, scoring='accuracy')
grid_search.fit(customer_normalised, customer_value_label)

GridSearchCV(cv=10, error_score='raise',
       estimator=GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              presort='auto', random_state=None, subsample=1.0, verbose=0,
              warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [1, 2, 3, 4, 5], 'n_estimators': [50, 70, 90, 110]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='accuracy', verbose=0)

In [218]:
grid_search.best_params_

{'max_depth': 1, 'n_estimators': 90}

In [220]:
gc = GradientBoostingClassifier(max_depth=1, n_estimators=90)
customer_gc_scores = cross_val_score(gc, customer_normalised, customer_value_label, cv=10)
customer_gc_scores.mean()

0.6023489739148691

In [229]:
gc.fit(customer_normalised, customer_value_label)
important_feature = pd.Series(gc.feature_importances_, index=customer_normalised.columns).sort_values(ascending=False)

In [237]:
important_feature

NoOfInvoices             0.211111
UniqueItemsPerInvoice    0.144444
QuantityPerInvoice       0.122222
NoOfUniqueItems          0.122222
UnitPriceStd             0.111111
UnitPriceMean            0.111111
SpendingPerInvoice       0.100000
TotalQuantity            0.077778
dtype: float64