In [1]:
%matplotlib inline
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
ecommerce = pd.read_csv("data.csv", encoding = "ISO-8859-1")

In [4]:
ecommerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [5]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [6]:
ecommerce["CustomerID"] = ecommerce["CustomerID"].astype(str)

In [7]:
ecommerce["TotalPrice"] = ecommerce["Quantity"]*ecommerce["UnitPrice"]

In [8]:
ecommerce["InvoiceDate"] = pd.to_datetime(ecommerce["InvoiceDate"])

In [9]:
ecommerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     541909 non-null object
Country        541909 non-null object
TotalPrice     541909 non-null float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 37.2+ MB

In [10]:
id_length = ecommerce["CustomerID"][ecommerce["CustomerID"]!="nan"].str.len()[0]
ecommerce["CustomerID"][ecommerce["CustomerID"]!="nan"] = ecommerce["CustomerID"][ecommerce["CustomerID"]!="nan"].str.slice(0,id_length-2)

/home/williamtjhi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [11]:
ecommerce.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

In [14]:
max(ecommerce['InvoiceDate']) - min(ecommerce['InvoiceDate'])

Timedelta('373 days 04:24:00')

In [19]:
purchase_timespan = ecommerce.groupby("CustomerID")["InvoiceDate"]

In [20]:
purchase_timespan = purchase_timespan.apply(lambda x:max(x)-min(x))

In [21]:
purchase_timespan.sort_values(ascending=False)

CustomerID
15311   373 days 02:19:00
12748   372 days 23:32:00
12662   372 days 22:55:00
nan     372 days 22:34:00
12433   372 days 20:38:00
13777   372 days 20:24:00
17924   372 days 08:37:00
14606   372 days 02:31:00
15694   372 days 01:55:00
14911   372 days 01:49:00
16210   372 days 00:09:00
13408   371 days 22:26:00
17841   371 days 21:37:00
17581   371 days 21:34:00
13468   371 days 19:31:00
13767   371 days 04:13:00
14527   371 days 02:38:00
15525   371 days 02:22:00
14135   371 days 01:11:00
17511   370 days 23:53:00
12583   370 days 23:22:00
13798   370 days 22:27:00
17757   370 days 22:14:00
16539   370 days 17:01:00
17949   370 days 05:34:00
12471   370 days 05:06:00
13013   370 days 02:33:00
16891   369 days 23:40:00
17017   369 days 23:15:00
13255   369 days 22:58:00
               ...
15256     0 days 00:00:00
15255     0 days 00:00:00
13568     0 days 00:00:00
18082     0 days 00:00:00
13570     0 days 00:00:00
15254     0 days 00:00:00
13572     0 days 00:00:00
15247     0 days 00:00:00
15243     0 days 00:00:00
17789     0 days 00:00:00
13551     0 days 00:00:00
15276     0 days 00:00:00
15313     0 days 00:00:00
15325     0 days 00:00:00
13522     0 days 00:00:00
15320     0 days 00:00:00
15319     0 days 00:00:00
15318     0 days 00:00:00
15316     0 days 00:00:00
15314     0 days 00:00:00
13532     0 days 00:00:00
15277     0 days 00:00:00
15307     0 days 00:00:00
15303     0 days 00:00:00
15300     0 days 00:00:00
17785     0 days 00:00:00
15292     0 days 00:00:00
15286     0 days 00:00:00
15280     0 days 00:00:00
17433     0 days 00:00:00
Name: InvoiceDate, Length: 4373, dtype: timedelta64[ns]

In [31]:
purchase_timespan_days = [purchase_timespan[i].days for i in range(len(purchase_timespan))]
purchase_timespan_days = np.array(purchase_timespan_days)

In [42]:
filtered_data_id = purchase_timespan[purchase_timespan_days>200].index

In [43]:
ecommerce_filtered = ecommerce[ecommerce["CustomerID"].isin(filtered_data_id)]

In [53]:
from datetime import timedelta

In [78]:
columnNames = ['UnitPriceMean', 'UnitPriceStd', 'TotalQuantity', 'NoOfUniqueItems', 'NoOfInvoices',
                                'UniqueItemsPerInvoice', 'QuantityPerInvoice', 'SpendingPerInvoice']
customer_pattern_pre = pd.DataFrame(columns=columnNames)
customer_value = pd.Series()
for i in ecommerce_filtered["CustomerID"].unique():
    temp_customer = ecommerce_filtered[ecommerce_filtered["CustomerID"]==i]
    cutoff = min(temp_customer["InvoiceDate"])+timedelta(days=30)
    temp_customer_pre = temp_customer[temp_customer["InvoiceDate"] <= cutoff]
    temp_customer_post = temp_customer[temp_customer["InvoiceDate"] > cutoff]

    temp_customer_pre1 = [temp_customer_pre["UnitPrice"].mean(), temp_customer_pre["UnitPrice"].std(),
        temp_customer_pre["Quantity"].sum(), len(temp_customer_pre["StockCode"].unique()),
        len(temp_customer_pre["InvoiceNo"].unique()), temp_customer_pre.groupby("InvoiceNo")["StockCode"].nunique().mean(),
        temp_customer_pre.groupby("InvoiceNo")["Quantity"].sum().mean(), 
        temp_customer_pre.groupby("InvoiceNo")["TotalPrice"].sum().mean()]

    temp_customer_pre1 = np.array(temp_customer_pre1)
    temp_customer_pre1.shape = (1, len(temp_customer_pre1))
    temp_customer_pre1 = pd.DataFrame(temp_customer_pre1, columns=columnNames)
    
    customer_pattern_pre = customer_pattern_pre.append(temp_customer_pre1)
    
    temp_customer_value = temp_customer_post["TotalPrice"].sum()/temp_customer_pre["TotalPrice"].sum()
    customer_value = customer_value.append(pd.Series(temp_customer_value))

In [107]:
customer_value.index = [i for i in range(customer_value.shape[0])]

In [117]:
customer_value_clean = customer_value[customer_value[customer_value>=0].index]
customer_pattern_pre_clean = customer_pattern_pre.iloc[customer_value[customer_value>=0].index,:]

In [119]:
customer_normalised = customer_pattern_pre_clean.copy()
for i in range(customer_normalised.shape[1]):
    customer_normalised.iloc[:,i]=(customer_normalised.iloc[:,i]-np.mean(customer_normalised.iloc[:,i]))/np.std(customer_normalised.iloc[:,i])

In [120]:
customer_normalised = customer_normalised.fillna(0)

In [162]:
bins = [-0.1, 1, 3, 10, 30, max(customer_value_clean)]
labels = ["very_low", "low", "moderate", "high", "very_high"]
customer_value_label = pd.cut(customer_value_clean, bins=bins, labels=labels)
customer_value_label.value_counts()

moderate     652
low          507
high         172
very_low     110
very_high     22
dtype: int64

In [163]:
customer_value_clean[customer_value_label.isna()]

Series([], dtype: float64)

In [135]:
from sklearn.ensemble import RandomForestClassifier

In [136]:
rf = RandomForestClassifier(n_jobs=2, random_state=0)

In [149]:
rf.fit(customer_normalised, customer_value_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [150]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf, customer_normalised, customer_value_label, cv=5)

/home/williamtjhi/anaconda3/lib/python3.6/site-packages/sklearn/model_selection/_split.py:605: Warning: The least populated class in y has only 1 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [154]:
customer_value_label.value_counts()

moderate     652
low          507
high         172
very_low     109
very_high     22
nan            1
dtype: int64